body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #00274d;
    margin: 0;
}

header {
    background-color: #00274d; /* Azul marino */
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #d00000; /* Rojo */
    margin: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
